@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-neutral: #e4e4e7;
  --color-primary: #173a19;
  --color-primary-light: #234426;
  --color-secondary: #e9ce47;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-dm-sans: "DM Sans", sans-serif;
  --font-asap: "Asap", sans-serif;
}

:root {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
  --primary: var(--color-primary);
  --primary-light: var(--color-primary-light);
  --secondary: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #0a0a0a;
  }
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

.marquee-container {
  width: 100vw;
  /* margin-left: -10vw; */
  /* height: 116.4px; */
  display: flex;
  align-items: center;
  overflow: hidden;
}

.marquee-content {
  animation: scroll 20s linear infinite;
}

.marquee-content.marquee-reverse {
  animation: scroll-reverse 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
